* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: auto 1rem;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.navbar .pages {
    display: flex;
    gap: 20px;
    list-style: none;

}

.navbar li a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 6px;
    transition: .25s ease-in-out;
    font-weight: 600;
    color: black;
}

.navbar li a:hover,
.active-nav {
    border-bottom: solid blue 4px;
}

.pages .closenav {
    text-align: right;
    width: calc(100% - 20px);
    margin-top: 20px;
    cursor: pointer;
}

.navbar .show {
    display: flex;
}

.offer-bar {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* Media Queries */

@media screen and (max-width:800px) {
    .navbar .pages {
        position: absolute;
        flex-direction: column;
        z-index: 10;
        background-color: lightgray;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        text-align: center;
        gap: 20px;
        display: none;
    }

    .pages li {
        margin-top: 1rem;
    }

    .navbar .show {
        display: flex;
    }
}

@media screen and (min-width:800px) {

    .navbar .menubar,
    .navbar .closenav {
        display: none;
    }

}

@media screen and (max-width:500px) {
    .navbar .pages {
        width: 65%;
    }
}