* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.navbar .pages {
    display: flex;
    gap: 20px;
    list-style: none;

}

.navbar li a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 6px;
    transition: .25s ease-in-out;
    font-weight: 600;
    color: black;
}

.navbar li a:hover,
.active-nav {
    border-bottom: solid blue 4px;
}